.groupBottles {
  min-height:90vh;
  background-color: $grey;
}

.groupBottles__contentList {
  max-width: 1440px;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.list__item {
  margin: 30px;
}

.list__itemPicture {
  width: 20vh;
}
