.collected__description {
  padding: 5% 0;
  width: 100%;
  margin: auto;

  @include small {
    width: 80%;
  }

  @include medium {
    display: none;
  }
}

.collected__button {
  background-color: white;
  font-size: 22px;
  width: 100%;
  padding: 2% 10%;
  text-align: right;
  display: block;

  @include small {
    width: 80%;
    margin: auto;
  }

  @include medium {
    display: none;
  }
}