.collected__description {
  padding: 5% 0;
  width: 100%;
  margin: auto;

  @include small {
    width: 80%;
  }

  @include medium {
    display: none;
  }
}

.sold__img{
  background: url('../img/collection.png') center center no-repeat;
}