.footer {
  background-color: #fff;
  height:70px;
  display: flex;
  flex-direction: row;
  background: url(../img/herbes.png);
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 0 10px;

  @include medium {
    padding: 0 40px;
  }
}

.footer__signature {
  font-family: "Georgia";
  width: 49%;
  text-align: left;
  font-size: 12px;
}

.footer__link {
  font-family: "Georgia";
  width: 49%;
  text-align: right;
  a{
    font-family: Georgia;
    font-size: 12px;
    color: $cerise;
  }
}
