.groupSendPost {
  padding: 0 0 15% 0;

  @include small {
    width: 80%;
    margin: auto;
  }

  @include medium {
    padding: 10% 0;
    width: 100%;
    margin: 0;
  }
}

.groupSendPost__title--m {
  display: block;
  text-align: center;
  padding-bottom: 5%;

  @include medium {
    display: none;
  }
}

.groupSendPost__title {
  display: none;

  @include medium {
    display: block;
  }
}

.groupSendPost__text {
  color: $cerise;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: $normal;
  @include medium {
    line-height: 20px;
    padding-top: 5%;
  }
}
