.groupSend {
    width: 100%;

    @include medium {
        width: 40%;
        padding-left: 5%;
    }
}

.groupSend__title{
    text-align: center;
    display: none;

    @include medium{
      display: block;
    }
}

.groupSend__title-m{
  display: block;

  @include medium{
    display: none;
  }
}