.groupHelpPic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.groupHelpPic {
  align-self: center;
}

.groupHelpPic__img {
  width: 150px;
  display: block;

  img {
    width: 100%;
  }
}

.groupHelpPic__img--operator {
  width: 40px;
}

.groupHelpPic__img--svg {
  width: 100px;
}

.hand-hour {
  fill: #bbd032;
  -webkit-transform-origin: 50% 90.91%;
  -moz-transform-origin: 50% 90.91%;
  transform-origin: 50% 90.91%;
  /*   transform: rotate(180deg); */
  -webkit-animation: 20s dialspin infinite linear;
  -moz-animation: 20s dialspin infinite linear;
  animation: 20s dialspin infinite linear;
}

.hand-min {
  -webkit-transform-origin: 9.09% 50%;
  -moz-transform-origin: 9.09% 50%;
  transform-origin: 9.09% 50%;
  -webkit-animation: 1s dialspin infinite linear;
  -moz-animation: 1s dialspin infinite linear;
  animation: 1s dialspin infinite linear;
}

@-webkit-keyframes dialspin {
  0% {-webkit-transform: rotate(0deg)}
  100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes dialspin {
  0% {-moz-transform: rotate(0deg)}
  100% { -moz-transform: rotate(360deg) }
}
@keyframes dialspin {
  0% {transform: rotate(0deg)}
  100% { transform: rotate(360deg) }
}