%stick {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 1px;
  height: 70%;
  background: #ddd;
}

.header {
  padding: 1rem 0;
  background: #fff;
}

.header-nav {

  

  @include medium {
    width: 49%;
  }

  @include large {
      width: 100%;
  }

  @include extra-large {
      width: 100%;
  }
}

.header__navContainer {
  display: flex;
  justify-content: space-around;
}

.header__navItem {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  @include medium {
    width: 33.33%;
    position: inherit;
  }

  &:nth-child(1):after {
    @extend %stick;
    right: 0;
  }

  &:nth-child(2):after {
    @extend %stick;
    left: 0;
  }

}

.header__picture {
  width: 10rem;
}

.header__picture img {
  width: 100%;
}
