.groupHome {
  padding: 2rem 0 0 0;
}

.groupHome__titre {
  margin: 0 0 2rem 0;
  @include medium {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
}

.intro {
  //padding: 0.5rem;
  /*background: red;*/
  width: 100%;
  @include medium {
    width: 26%;
  }
}

.intro__punchline {
  text-align: center;
  font-family: "ChalkboardSE-Regular";

  font-family: "ChalkboardSE-Light";
  font-size: 2.9rem;
  color: $dark-grey;
  line-height: 150%;
}

.intro__text {
  text-align: center;
  font-family: "Georgia-Regular";
  font-size: 0.9rem;
  color: $dark-grey;
}

.title-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}


.title-image__title {
  font-family: "ChalkboardSE-Light";
  font-size: 5.3rem;
  color: #000;
  line-height: 100%;
  width: 60%;
}

.title-image__image {
  width: 30%;
}

.title-image__image img{
  width: 100%;
}

.cap {
  //padding: 1rem;
  /*background: blue;*/
  text-align: center;
  width: 100%;
  @include medium {
    width: 26%;
  }
}

.cap__image {
  width: 8rem;
  padding-top:50px;
}

.cap__counter {
  margin: 1.5rem 0 0 0;
}

.counter__numbers {
  text-align: center;
  font-family: "Georgia-Bold";
  font-size: 1.85rem;
  color: #000;
  position: relative;
  padding: 0 0 0.5rem 0;
  margin: 0 0 1rem 0;
}

.counter__numbers:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  background: #000;

  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.counter__label {
  text-align: center;
  font-family: "Georgia";
  font-size: 1.16rem;
  color: #000;
  margin: 1rem 0 0 0;
}

.help {
  display: flex;
  justify-content: center;
  //padding: 4rem;
  width: 100%;
}

.help__button {
  background: none;
  border: 2px solid red;
  padding: 1rem 4rem;
  font-family: "ChalkboardSE-Light";
  font-size: 1.5rem;
}

.collection {
  display: flex;
  justify-content: center;
  //padding: 1rem;
  width: 100%;
}

.collection__button {
  background: none;
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  font-family: "ChalkboardSE-Light";
  font-size: 1.5rem;
}

#yarn {
    @include large {
        width: 27px;
        height: 27px;
        position: absolute;
        background-image: url('../img/ball.png');
        top: 17px;
        left:49%;
        z-index: 2;
    }
}

#fil {
    @include large {
        width: 5px;
        height: 27px;
        position: absolute;
        background: red;
        top:0;
        left:50%;
        z-index: 1;
    }
}

.group-home {
    @include medium {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.group-home-elem {
    @include medium {
        width:49%;
    }

    .group-home-elem-hat{
        img{
            transition-duration: 1s;
            display: block;
            width: 300px;
        }
    }
}


#counter {
    display: none;
    transition-duration: 1s;
}

h2.secondH2 {
    font-weight: 800;
    font-size: 120px;
}

.btn{
    background: #FFCE85;
    color: #fff;
    display: block;
    width: 350px;
    padding: 5px;
    text-align: center;
    margin: 250px auto 0;
}


.btn a {
    color: #fff;
    font-size: 40px;
}
