#fil {
  display: none;
  height:100%;
  width:150px;
  @include large {
    display: block;
    z-index:8;
    position: absolute;
    top:0;
    left:50%;
    path{
      stroke: $cerise;
      stroke-width:5px;
    }
  }
}

#path2{
  position: absolute;
  top: 649px;
  background: $cerise;
  transition-duration: 1.5s;
  height:0px;
  width: 5px;
}

.groupHome{
  padding: 10px;
  min-height:95vh;
  @include medium {
    padding: 0 40px;
  }
}

.groupHome__titre {
  margin: 0 0 2rem 0;
  @include medium {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
}

.intro {
  padding: 30px 0 0;
  @include medium {
    padding: 80px 0 40px 0;
    width:50%;

  }
}

.intro__punchline {
  text-align: center;
  font-family: "ChalkboardSE";
  font-weight:bold;
  font-size: $title;
  @include medium {
    text-align: left;
  }
}

.intro__text {
  text-align: center;
  font-family: "Georgia";
  font-size: $normal;
  line-height: 25px;
  margin-top:10px;
  @include medium {
    margin: 6% 0 3% 0;
    width: 80%;
    text-align: left;
  }
}


.title-image__title {
  font-family: "ChalkboardSE";
  font-weight: lighter;
  font-size: 4.5rem;
  line-height: 5.3rem;
  display: inline-block;
  vertical-align: middle;
  margin-top:15px;
  @include medium {
    font-size: 5rem;
    margin-top:0;
  }
}

.title-image__image {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  @include medium {
    width: 140px;
  }
  img {
    width: 100%;
  }
}

.cap {
  text-align: center;
  width: 100%;

  @include medium {
    margin-top: 80px;
    width:50%;
  }
}

.cap__image {
  width: 6rem;
  padding-top:50px;

  @include medium {
    width: 8rem;
  }
}

.cap__counter {
  border-bottom: 4px solid $dark-grey;
  width: 210px;
  transition-duration: 3s;
  display: none;
  margin-left: 70px;

  @include medium {
    margin-left: 150px;
    padding-bottom: 5%;
  }
}

.counter__numbers {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 1.85rem;
}

.counter__label {
  font-family: "Georgia";
  font-weight: bold;
  font-size: $normal;
  margin: 1rem 0 0 0;
}

.help {
  display: flex;
  justify-content: center;
  width: 100%;
}

.help__button {
  background-color: $white;
  padding: 0.5rem 2rem 0.4rem 2rem;
  font-size: $normal;
  border: 3px solid $grey;
  @include medium {
    position: absolute;
    top: 545px;

    &:hover {
      a {
        color: $cerise;
        transition: 0.2s;
      }
    }
  }
}

.border{
  border:2px solid $cerise;
  transform: rotate(20deg);
}
