.groupHome{
  min-height:90vh;
  padding: 0 40px;
}

.groupHome__titre {
  margin: 0 0 2rem 0;
  @include medium {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
}

.intro {
  padding: 80px 0 40px 0;

  @include medium {
    width:50%;

  }
}

.intro__punchline {
  text-align: left;
  font-family: "ChalkboardSE-Regular";
  font-size: 3.0rem;
}

.intro__text {
  text-align: left;
  font-family: "Georgia";
  font-size: 1.16rem;
  width: 80%;
  line-height: 25px;
  margin: 6% 0 3% 0;
}


.title-image__title {
  font-family: "ChalkboardSE-Light";
  font-size: 5.0rem;
  line-height: 5.3rem;
  display: inline-block;
  vertical-align: middle;
}

.title-image__image {
  display: inline-block;
  vertical-align: middle;
  width: 140px;

  img {
    width: 100%;
  }
}

.cap {
  text-align: center;
  width: 100%;
  @include medium {
    width:50%;
  }
}

.cap__image {
  width: 8rem;
  padding-top:50px;
}

.cap__counter {
  border-bottom: 2px solid grey;
  width: 220px;
  margin-left: 150px;
  transition-duration: 3s;
  display: none;
}

.counter__numbers {
  font-family: "Georgia-Bold";
  font-size: 1.85rem;
}

.counter__label {
  font-family: "Georgia";
  font-size: 1.16rem;
  margin: 1rem 0 0 0;
}

.help {
  display: flex;
  justify-content: center;
  width: 100%;
}

.help__button {
  background: none;
  border: 2px solid red;
  padding: 0.5rem 2rem 0.4rem 2rem;
  font-family: "ChalkboardSE-Light";
  font-size: 18px;
  background-color: white;
}

.collection {
  display: flex;
  justify-content: center;
  //padding: 1rem;
  width: 100%;
}

.collection__button {
  background: none;
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  font-family: "ChalkboardSE-Light";
  font-size: 1.5rem;
}

.group-home {
    @include medium {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.group-home-elem {
    @include medium {
        width:49%;
    }

    .group-home-elem-hat{
        img{
            transition-duration: 1s;
            display: block;
            width: 300px;
        }
    }
}

h2.secondH2 {
    font-weight: 800;
    font-size: 120px;
}

.btn{
    background: #FFCE85;
    color: #fff;
    display: block;
    width: 350px;
    padding: 5px;
    text-align: center;
    margin: 250px auto 0;
}


.btn a {
    color: #fff;
    font-size: 40px;
}
