.sold {
  padding-bottom: 15%;

  @include small {
    padding-bottom: 0;
  }

  @include medium {
    padding-bottom: 15%;
  }
}

.sold__description {
  color: $cerise;
  text-align: center;
  padding: 5% 0;
  line-height: 35px;
  margin: auto;

  @include small {
    width: 80%;
  }
}

.sold__description--m {
  text-align: center;
  width: 80%;
  margin: auto;
  display: none;
  font-style: italic;

  @include medium {
    display: block;
    padding-bottom: 10%;
  }

  @include large {
    padding: 2% 0 4% 0;
    width: 60%;
  }
}

.sold__img {
  height: 230px;
  overflow: hidden;
  img{
    display: block;
    height:100%;
    margin:0 auto;
  }

  @include small{
    margin-bottom: 25px;
  }
}
