.stapesList {
  width: 50%;
}

.stapesList--left {
  width: 45%;
  margin-left: 0;
  margin-top: -230px;

  @include extra-large {
    width: 40%;
    margin-left: 16%;
    margin-top: -10%;
  }

}

.stapesList--right {
  width: 45%;

  @include extra-large {
    width: 43%;
    margin-top: 5%;
  }
}