.stape {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  padding: 0 10%;

  @include extra-large {
    flex-direction: row;
    height: 320px;
    padding: 0;
  }
}

.stape__desc {
  order: 3;
  width: 100%;
  font-size: $normal;

  @include large {
    width: 80%;
  }

  @include extra-large {
    order: 0;
    width: 50%;
  }
}

.stape__picture {
  width: 100%;
  padding: 5% 0;

  img {
    width: 100%;
  }

  @include large {
    width: 80%;
  }

  @include extra-large {
    width: 35%;
    padding: 0 7%;

    img {
      width: 200px;

    }
  }
}

.stape__pictureTitle {
  text-align: center;
  font-size: $subsubtitle;
  padding-top: 5%;

  @include extra-large {
    font-size: 18px;
    padding-top: 0;
  }
}
