<section class="groupInfo">
    <div class="groupHelp">
        <h1 class="groupHelp__title-m">Pour nous aider</h1>
        <h1 class="groupHelp__title">Comment nous aider ?</h1>

        <div class="groupHelpPic">

            <div class="groupHelpPic__img">
                <img src="img/step1.png" title="du fil, une paire de ciseau et de la laine" />
            </div>

            <div class="groupHelpPic__img groupHelpPic__img--operator">
                <img src="img/icon/add.svg" alt="">
            </div>

            <div class="groupHelpPic__img groupHelpPic__img--svg">
                <svg viewBox="0 0 150 150">
                    <path class="clock-outer" d="M75 0C33.646 0 0 33.645 0 75s33.645 75 75 75 74.999-33.646 74.999-75C150 33.645 116.355 0 75 0zm0 139.732c-35.693 0-64.731-29.039-64.731-64.733C10.268 39.306 39.307 10.267 75 10.267S139.732 39.306 139.732 75c0 35.693-29.039 64.732-64.732 64.732z"/>
                    <path class="hand hand-hour" d="M78 79.265c0 2.75-2.25 5-5 5h-.196c-2.75 0-5-2.25-5-5v-44.32c0-2.75 2.25-5 5-5H73c2.75 0 5 2.25 5 5v44.32z"/>
                    <path class="hand hand-min" d="M117.125 74.068c2.75 0 5 2.25 5 5v.196c0 2.75-2.25 5-5 5H72.804c-2.75 0-5-2.25-5-5v-.196c0-2.75 2.25-5 5-5h44.321z"/>
                </svg>
            </div>

            <div class="groupHelpPic__img groupHelpPic__img--operator">
                <img src="img/icon/equal.svg" alt="">
            </div>
            <div class="groupHelpPic__img">
                <img class="groupHelpPic__img" src="img/bottle.png" title="du fil, une paire de ciseau et de la laine" />
            </div>
        </div>

        <p class="groupHelp__text">Pour que notre opération soit un franc succès, et pour battre notre record de bonnets tricotés de l’année dernière, nous avons besoin de vous.
            <br><br>Vous trouverez ici toutes les infos pour devenir la reine/le roi du bonnet.</p>

        <button class="button-lg" type="button">
            <a href="tutoriel-m.html">Suivre un tutoriel ></a>
        </button>
    </div>

    <div class="groupSend">
        <h1 class="groupSend__title-m">Envoyez vos bonnêts</h1>
        <h1 class="groupSend__title">Prêt ?<br>Envoyez !</h1>

        <div class="groupSendPost">
            <h3 class="groupSendPost__title--m">Par la poste</h3>
            <h3 class="groupSendPost__title">Par la poste, à l'adresse : </h3>

            <p class="groupSendPost__text">"Petits bonnets"
                <br>Les petits frères des Pauvres
                <br>64 avenue Parmentier
                <br>75011 Paris</p>

        </div>

        <div class="groupSendShop">
            <h3 class="groupSendPost__title--m">En boutique</h3>
            <h3 class="groupSendPost__title">En boutique directement : </h3>

            <p class="groupSendShop__text">
                Vous pouvez également les déposer dans une des boutiques <span>Phildar</span> participant à l’opération. La liste des magasins participants
                à l’opération est consultable sur <a href="https://www.phildar.fr/">www.phildar.fr</a>.
            </p>
        </div>
    </div>
</section>