<section class="group-info">
    <div class="group-help">
        <h3>Comment nous aider ?</h3>

        <div class="group-help-icone">
            <div class="group-help-icone-elem">
                <img src="img/step1.png" title="du fil, une paire de ciseau et de la laine" />
            </div>

            <div class="group-help-icone-elem">
                <img src="img/icon/add.svg" alt="">
            </div>

            <div class="group-help-icone-elem">
                <svg width="150" height="150" viewBox="0 0 150 150">
                    <path class="clock-outer" d="M75 0C33.646 0 0 33.645 0 75s33.645 75 75 75 74.999-33.646 74.999-75C150 33.645 116.355 0 75 0zm0 139.732c-35.693 0-64.731-29.039-64.731-64.733C10.268 39.306 39.307 10.267 75 10.267S139.732 39.306 139.732 75c0 35.693-29.039 64.732-64.732 64.732z"/>
                    <path class="hand hand-hour" d="M78 79.265c0 2.75-2.25 5-5 5h-.196c-2.75 0-5-2.25-5-5v-44.32c0-2.75 2.25-5 5-5H73c2.75 0 5 2.25 5 5v44.32z"/>
                    <path class="hand hand-min" d="M117.125 74.068c2.75 0 5 2.25 5 5v.196c0 2.75-2.25 5-5 5H72.804c-2.75 0-5-2.25-5-5v-.196c0-2.75 2.25-5 5-5h44.321z"/>
                </svg>
            </div>

            <div class="group-help-icone-elem">
                <img src="img/icon/equal.svg" alt="">
            </div>

            <div class="group-help-icone-elem">
                <img src="img/bottle.png" title="du fil, une paire de ciseau et de la laine" />
            </div>
        </div>

        <p>Pour que l’opération soit un succès et pour battre notre record de bonnets tricotés de l’année dernière, nous avons besoin de vous.</p>
        
        <p>Vous trouverez ici toutes es infos pour devenir la reine/le roi du bonnet.</p>

        <a href="">Suivre un tutoriel</a>
    </div>

    <div class="group-send">
        <h3>Prêt ?</h3>
        <h3>Envoyez !</h3>
        <div class="send--post">
            <h4>Par la poste, à l'adresse : </h4>
            <p>"Petits bonnets"</p>
            <p>Les petits frères des Pauvres</p>
            <p>64 avenue Parmentier</p>
            <p>75011 Paris</p>
            
        </div>
        <div class="send--shop">
            <h4>En boutique directement : </h4>
            <p>
                Vous pouvez également les déposer dans une des boutiques<br> 
                Phildar participant à l’opération. La liste des magasins participants<br> 
                à l’opération est consultable sur <a href="https://www.phildar.fr/">www.phildar.fr</a>.
            </p>
        </div>
    </div>
</section>