<div class="groupBottles">
  <div class="groupBottles__content">
    <div class="groupBottles__contentList">
      <ul class="list">
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille1.png" alt="bouteilles n°1" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille2.png" alt="bouteilles n°2" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille3.png" alt="bouteilles n°3" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille4.png" alt="bouteilles n°4" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille5.png" alt="bouteilles n°5" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille6.png" alt="bouteilles n°6" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille7.png" alt="bouteilles n°7" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille8.png" alt="bouteilles n°8" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille9.png" alt="bouteilles n°9" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille10.png" alt="bouteilles n°10" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille11.png" alt="bouteilles n°11" class="list__itemPicture">
        </li>
        <li class="list__item">
          <div class="item__content">
            <h4 class="item__contentTitle">Guillaume Martin</h4>
            <p class="item__contentText">Strasbourg</p>
          </div>
          <img src="../img/collection/teille12.png" alt="bouteilles n°12" class="list__itemPicture">
        </li>
      </ul>
    </div>
  </div>
</div>
