<section class="collected">
    <h1 class="collected__title">Une fois récoltés...</h1>
    <p class="collected__description">Les bonnets les plus originaux seront ajoutés à notre collection.</p>
    <button class="button-lg" type="button">
        <a href="../pages/collection.html">Voir la collection ></a>
    </button>
    <div class="sold">
        <p class="sold__description--m">Les bonnets les plus originaux seront ajoutés à notre collection. Mais surtout, tous les bonnets seront ensuite placés sur les bouteilles jus innocent et seront mis en vente !</p>
        <p class="sold__description">Mais surtout, tous les bonnets seront ensuite placés sur les bouteilles jus innocent et seront mis en vente !</p>
        <div class="sold__img">
            <img src="img/collection.png" />
        </div>
    </div>
</section>
