<!DOCTYPE html>
<html>
  <head>
    <title>Mets ton bonnet - Innocent</title>
    <meta name="viewport" content="width=500, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <svg id="fil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <line id="path1" x1="0" y1="0" x2="0" y2="30"></line>
      <line id="path2" x1="0" y1="400" x2="150" y2="490"></line>
      <line id="path3" x1="150" y1="490" x2="150" y2="550"></line>
    </svg>
    
    <div id="yarn"></div>

    <header class="header">
      <nav class="header__nav">
        <ul class="header__navContainer">
          <li class="header__navItem">
            <div class="header__picture">
              <img src="img/logo.png" title="logo innocent met ton bonnet" />
            </div>
          </li>
          <li class="header__navItem">
            <div class="header__picture">
              <img src="img/logo-les-petits-frères-des-pauvres.png" title="logo petit frère des pauvres" />
            </div>
          </li>
        </ul>
      </nav>
    </header>


