<!DOCTYPE html>
<html>
  <head>
    <title>Mets ton bonnet - Innocent</title>
    <meta name="viewport" content="width=500, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <svg id="fil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path id="line1" d="M10,0 10,500 120,540, 120,700" fill="none" stroke-linejoin="mitter" stroke-width="5" />
      
      <circle id="circle" r="10" cx="0" cy="0" fill="#eb516c" />

      <animateMotion 
        xlink:href="#circle"
        dur="4s"
        begin="0s"
        fill="freeze"
        >
      <mpath xlink:href="#line1" />

    </animateMotion>
        
    </svg>
    

    <header class="header">
      <nav class="header__nav">
        <ul class="header__navContainer">
          <li class="header__navItem">
            <div class="header__picture">
              <img src="img/logo.png" title="logo innocent met ton bonnet" />
            </div>
          </li>
          <li class="header__navItem">
            <div class="header__picture">
              <img src="img/logo-les-petits-frères-des-pauvres.png" title="logo petit frère des pauvres" />
            </div>
          </li>
        </ul>
      </nav>
    </header>


