<div class="groupHome">
  <div class="groupHome__titre">

    <div class="intro">
      <h2 class="intro__punchline">A vos marques, prêt,</h2>

      <div class="title-image">
        <h1 class="title-image__title">Tricotez</h1>
        <div class="title-image__image">
          <img src="img/wool.png" alt="">
        </div>
      </div>

      <p class="intro__text">
        Chaque bonnet tricoté nous permettra de reverser 20 centimes aux Petits
        frère des pauvres
      </p>
      <button class="button-lg-home" type="button" name="button">
        Voir la collection des bonnets >
      </button>
    </div>

    <div class="cap">
      <img id="bonnet" class="cap__image" src="img/winter-hat.svg" />
      <div id="counter" class="cap__counter">
        <span class="counter__numbers">5 688</span>
        <span class="counter__label">déjà récoltés</span>
      </div>
    </div>
  </div>

  <div class="groupHome__btn">
    <div class="help">
      <button class="help__button" type="button" name="button">
        Je veux aider
      </button>
    </div>
  </div>
</div>
