
<div id="fil"></div>
<div id="yarn"></div>

<div class="group-home">
    <div class="group-home-elem">
        <div class="group-home-elem-title">
            <h2>A vos marques, prêt,</h2>
            <h2 class="secondH2">Tricotez</h2>
        </div>
        <div class="group-home-elem-description">
            <p>Chaque bonnet nous permettera de reverser 20 centimes au Petit frère des pauvres</p>
        </div>
    </div>

    <div class="group-home-elem">
        <div class="group-home-elem-hat">
                <img id="bonnet" src="img/winter-hat.svg" />
        </div>
        <div id="counter" class="group-home-elem-count">plus que <span>5 347</span></div>
    </div>
</div>

<div class="btn"><a href="#aider">Je veux aider</a></div>
