<section class="tuto">
    <h1 class="tuto__title">Le tutoriel pour les novices !</h1>
    <div class="stapes">
        <div class="stapesList stapesList--left">
            <div class="stape">
                <p class="stape__desc">On commence par faire un nœud sur l'aiguille, puis on le place sous celle-ci.</p>
                <div class="stape__picture">
                    <img src="../img/tuto/etape1.jpg">
                    <h4 class="stape__pictureTitle">Le noeud</h4>
                </div>
            </div>
            <div class="stape">
                <p class="stape__desc">On enroule le fil de droite autour de l’index. Maintenir le fil de gauche dans la main gauche.</p>
                <div class="stape__picture">
                    <img src="../img/tuto/etape3.jpg">
                    <h4 class="stape__pictureTitle">L'index</h4>
                </div>
            </div>
            <div class="stape">
                <p class="stape__desc">Avec l'index et le pouce, on tire sans trop serrer sur les 2 fils pour former une maille, la deuxième.</p>
                <div class="stape__picture">
                    <img src="../img/tuto/etape5.jpg">
                    <h4 class="stape__pictureTitle">Le deuxième maille</h4>
                </div>
            </div>
        </div>
        <div class="stapesList stapesList--right">
            <div class="stape">
                <div class="stape__picture">
                    <img src="../img/tuto/etape2.jpg">
                    <h4 class="stape__pictureTitle">Le placement</h4>
                </div>
                <p class="stape__desc">Placer les fils de chaque côté de l’aiguille. A gauche, celui qui doit venir de la pelote, à droite, le bout.</p>
            </div>
            <div class="stape">
                <div class="stape__picture">
                    <img src="../img/tuto/etape4.jpg">
                    <h4 class="stape__pictureTitle">La boucle</h4>
                </div>
                <p class="stape__desc">Piquer l'aiguille dans la boucle de l'index droit sans ôter ce dernier. Enrouler le fil que vous tenez dans la main gauche autour de l'aiguille. Passer la boucle de l'index devant la pointe, enlever l'index quand cette dernière est sous l'aiguille.</p>
            </div>
            <div class="stape">
                <div class="stape__picture">
                    <img src="../img/tuto/etape6.jpg">
                    <h4 class="stape__pictureTitle">La répétition</h4>
                </div>
                <p class="stape__desc">On répète ce même geste jusqu’à obtenir le nombre de mailles souhaitées.</p>
            </div>
        </div>
    </div>
</section>