@import 'reset';
@import 'medias';
@import 'colors';
@import 'fonts';

@import 'blocs/header';
@import 'blocs/home';
@import 'blocs/helpSend';
@import 'blocs/tuto';
@import 'blocs/stapes';
@import 'blocs/stapesList';
@import 'blocs/stape';
@import 'blocs/footer';






body{
    position:relative;
}

a{
    text-decoration: none;
}

h3{
    color: #B4153B;
    font-family: 'Ribeye', cursive;
    font-size: 30px;
    text-align: center;
}

h2{
    font-weight:300;
    font-size: 60px;
}
