.button-lg {
  background-color: white;
  font-size: $subsubtitle;
  width: 100%;
  padding: 2% 4% 0 10%;
  text-align: right;
  display: block;
  border: 3px solid #ecebe8;

  a {
    //color: $pamplemousse;
  }

  @include small {
    width: 80%;
    margin: auto;
  }

  @include medium {
    display: none;
  }
}

.button-lg-home{
  border: 3px solid $pamplemousse;
  position:absolute;
  top:600px;
  width: auto;
  font-size: $normal;
  padding: 1% 4% 0% 10%;

  a {
    color: $pamplemousse;
  }

  @include medium {
    display: block;
    position: inherit;
    margin: 0;
    width: 80%;
    border: 3px solid #ecebe8;

    a {
      color: #4b4b4b;
    }

    &:hover {
      a {
        color: $pamplemousse;
        transition: 0.4s;
      }
      border-color: $pamplemousse;
      transition: 0.4s;
    }
  }
}
