
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
   font-family: $font-family;
   src: url('../../fonts/#{$file-path}.woff2') format('woff2');
   font-weight: $font-weight;
   font-style: $font-style;
  }
}

@include font-face(ChalkboardSE, ChalkboardSE-Bold, bold, normal);
@include font-face(ChalkboardSE, ChalkboardSE-Regular, normal, normal);
@include font-face(ChalkboardSE, ChalkboardSE-Light, light, normal);
@include font-face(Georgia, Georgia-Bold, bold, normal);
@include font-face(Georgia, Georgia-Regular, normal, normal);