
$normal: 1rem;

$subsubtitle: 1.3rem;
$subtitle: 2rem;
$title: 3rem;

//20px --> 1.25rem
//36px --> 2.25rem
// 3rem


@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
   font-family: $font-family;
   src: url('../../fonts/#{$file-path}.woff2') format('woff2');
   src: url('../../fonts/#{$file-path}.woff') format('woff');
   font-weight: $font-weight;
   font-style: $font-style;
  }
}

@include font-face(ChalkboardSE, ChalkboardSE-Bold, bold, normal);
@include font-face(ChalkboardSE, ChalkboardSE-Regular, normal, normal);
@include font-face(ChalkboardSE, ChalkboardSE-Light, lighter, normal);
@include font-face(Georgia, Georgia-Bold, bold, normal);
@include font-face(Georgia, Georgia-Regular, normal, normal);
