
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
   font-family: $font-family;
   src: url('../../fonts/#{$file-path}.woff2') format('woff2');
   font-weight: $font-weight;
   font-style: $font-style;
  }
}

/*
@font-face {
 font-family: "ChalkboardSE-Bold";
 src: url("../../fonts/ChalkboardSE-Bold.woff2") format("woff2");
}

@font-face {
 font-family: "ChalkboardSE-Regular";
 src: url("../../fonts/ChalkboardSE-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "ChalkboardSE-Light";
 src: url("../../fonts/ChalkboardSE-Light.woff2") format("woff2");
}

@font-face {
 font-family: "Georgia-Bold";
 src: url("../../fonts/Georgia-Bold.woff") format("woff");
}

@font-face {
 font-family: "Georgia-Regular";
 src: url("../../fonts/Georgia-Regular.woff") format("woff");
}
*/
//A modifier: 1 font --> plusieurs graisses
