body, html {
  position:relative;
  font-family: "ChalkboardSE";
  font-weight: lighter;
  color: $dark-grey;
  background-color: $beige;
}

* {
  font-family: "ChalkboardSE";
  font-weight: lighter;
  color: $dark-grey;
}

section, header, footer{
  padding: 0px;

  @include medium {
    padding: 0 40px;
  }
}

a {
  color: $dark-grey;
  text-decoration: none;

  &:focus, &:visited {
    outline: none;
  }
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus, &:visited {
    outline: none;
  }
}

h2 {
  font-family: 'Georgia';
}

h1 {
  letter-spacing: 1px;
  font-weight: lighter;
  text-align: center;
  font-size: $title;

  @include medium {
    text-align: left;
  }

  @include large {
    text-align: left;
  }
}

h2 {
  font-weight:300;
}

h3 {
  font-family: 'ChalkboardSE', cursive;
  font-weight: lighter;
  font-size: $subtitle;
}

h4 {
  color: $cerise;
}

p {
  font-family: 'Georgia';
  font-size: $normal;
  line-height: 35px;
}
